<!-- Affichage spinner chargement -->
<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="timer">
  <p style="color: white"> Chargement en cours... </p>
</ngx-spinner>
<div class="container">

  <div class="containerSideBar" id="containerSideBar">
    <div (click)="hideSideBar()" class="closeSideBar" id="closeSideBar"></div>
    <div class="menu">
      <div class="nav">
        <a routerLink="/session">Articles</a>
        <a routerLink="/themes">Themes</a>
      </div>
      <div class="me">
        <img alt="user logo" height="512" ngSrc="assets/images/utilisateur.png" routerLink="/me" width="512">
      </div>
    </div>
  </div>

  <app-header-session></app-header-session>

  <div class="content">

    <div [formGroup]="form" class="form">
      <div class="back">
        <img [routerLink]="['/session']" alt="" src="assets/images/fleche.png">
        <h2>Créer un nouvel article</h2>
        <label for=""></label>
      </div>

      <select formControlName="selectValueTheme" id="" name="">
        <option *ngFor="let theme of themes" [value]="theme.id">
          {{ theme.title }}
        </option>
      </select>


      <!--      <input [(ngModel)]="title" placeholder="Titre de l'article" type="text">-->
      <input formControlName="title" placeholder="Titre de l'article" type="text">

      <!--      <textarea [(ngModel)]="content" cols="30" name="" placeholder="Contenu de l'article" rows="10"></textarea>-->
      <textarea cols="30" formControlName="content" name="" placeholder="Contenu de l'article" rows="10"></textarea>

      <div class="action-buttons">
        <button (click)="onSubmit()">Créer</button>
      </div>
    </div>
  </div>
</div>
