<!-- Affichage spinner chargement -->
<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="timer">
  <p style="color: white"> Chargement en cours... </p>
</ngx-spinner>
<div class="container">
    <app-header-session></app-header-session>

    <div class="content">

        <div class="form">
            <h2>Créer un nouvel article</h2>


            <select name="" id="" aria-placeholder="dd">
                <option value="" selected disabled hidden>d</option>
                <option value="">dd</option>
                <option value="">ddd</option>
            </select>

          <input [(ngModel)]="title" placeholder="Titre de l'article" type="text">

          <textarea [(ngModel)]="content" cols="30" name="" placeholder="Contenu de l'article" rows="10"></textarea>

            <div class="action-buttons">
                <button (click)="onSubmit()">Créer</button>
            </div>
        </div>
    </div>
</div>
