.container .containerSideBar {
  display: flex;
  position: absolute;
  flex-direction: row;
  visibility: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.container .containerSideBar .closeSideBar {
  background: transparent;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 75%;
}

.container .containerSideBar .menu {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  background: #FFFFFF;
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
}

.container .containerSideBar .menu .nav {
  //display: flex;
  //flex-direction: column;

}

.container .containerSideBar .menu .nav a {
  position: absolute;
  top: 70px;
  right: 10px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.container .containerSideBar .menu .nav a:last-child {
  position: absolute;
  top: 100px;
  right: 10px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.container .containerSideBar .menu .nav button {
  position: absolute;
  top: 0;
  right: 0;
}

.container .containerSideBar .menu .me {
  width: 38px;
  height: 36px;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.container .containerSideBar .menu .me img {
  width: 38px;
  height: 36px;
  cursor: pointer;
}

.container .cards {
  display: flex;
  flex-wrap: wrap;
}

.container .cards .card {
  //flex: 1 0 30%;
  ///* 30px pour compenser la marge de 15px de chaque côté */
  //max-width: calc(30% - 30px);
  //margin: 15px;
  //padding: 20px;
  //border: 1px solid #ccc;
  //border-radius: 5px;
  //box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  width: 45%;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #F5F5F5;
}

.container .cards .card .title {
  margin-bottom: 10px;
}

.container .cards .card .content {
  margin-bottom: 20px;
}

.container .cards .card .button {
  padding: 10px 20px;
  background-color: #7453E8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

@media (max-width: 1457px) {
  .container .cards .card {
    width: 44%;
  }
}

@media (max-width: 1217px) {
  .container .cards .card {
    width: 43%;
  }
}

@media (max-width: 1046px) {
  .container .cards .card {
    width: 42%;
  }
}

@media (max-width: 917px) {
  .container .cards .card {
    width: 41%;
  }
}

@media (max-width: 816px) {
  .container .cards .card {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container .cards .card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container .containerSideBar .closeSideBar {
    width: 70%;
  }

  .container .containerSideBar .menu {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .container .containerSideBar .closeSideBar {
    width: 65%;
  }

  .container .containerSideBar .menu {
    width: 35%;
  }
}

@media (max-width: 400px) {
  .container .containerSideBar .closeSideBar {
    width: 60%;
  }

  .container .containerSideBar .menu {
    width: 40%;
  }
}
