<!--<mat-spinner></mat-spinner>-->
<div class="container">
    <app-header-auth></app-header-auth>

    <div class="content">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Se connecter</h2>

            <div class="form-group">
                <label for="email">E-mail ou nom d'utilisateur</label>
              <input formControlName="name" id="email" type="text">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" id="password">
            </div>
          <!--            <p *ngIf="onError" class="error">An error occurred</p>-->
            <div class="action-buttons">
              <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>
