<div class="container">
    <div class="header">
        <img src="../../../assets/images/logo_p6.png" alt="logo">
    </div>

    <div class="content">
        <div class="back">
            <img (click)="goBack()" src="../../../assets/images/fleche.png" alt="fleche">
        </div>

        <div class="form">
            <h2>Se connecter</h2>

            <div class="form-group">
                <label for="email">E-mail ou nom d'utilisateur</label>
                <input type="text" id="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password">
            </div>
            <div class="action-buttons">
                <button (click)="onSubmit()">Se connecter</button>
            </div>
        </div>
    </div>
</div>