<div class="container">
  <app-header-session></app-header-session>

  <div class="content">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Profil utilisateur</h2>

      <div class="form-group">
        <input type="text" formControlName="login" id="login">
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" id="email">
      </div>
<!--      <p *ngIf="onError" class="error">An error occurred</p>-->
      <div class="action-buttons">
        <button type="submit" [disabled]="form.invalid">Sauvegarder</button>
        <button (click)="logOut()">Se déconnecter</button>
      </div>
    </form>
  </div>
</div>
