.container .containerSideBar {
  display: flex;
  position: absolute;
  flex-direction: row;
  visibility: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.container .containerSideBar .closeSideBar {
  background: transparent;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 75%;
}

.container .containerSideBar .menu {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  background: #FFFFFF;
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
}

.container .containerSideBar .menu .nav {
  //display: flex;
  //flex-direction: column;

}

.container .containerSideBar .menu .nav a {
  position: absolute;
  top: 70px;
  right: 10px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.container .containerSideBar .menu .nav a:last-child {
  position: absolute;
  top: 100px;
  right: 10px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.container .containerSideBar .menu .nav button {
  position: absolute;
  top: 0;
  right: 0;
}

.container .containerSideBar .menu .me {
  width: 38px;
  height: 36px;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.container .containerSideBar .menu .me img {
  width: 38px;
  height: 36px;
  cursor: pointer;
}

.container .content .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.container .content .form h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.container .content .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container .content .form .form-group label {
  font-size: 1.1rem;
}

.container .content .form .form-group input {
  width: 250px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding: 0 10px;
}

.container .content .form .form-group input::placeholder {
  font-size: 1rem;
}

.container .content .form .action-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.container .content .form .action-buttons button {
  padding: 10px;
  background: #7453E8;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: transform .1s;
}

.container .content .form .action-buttons button:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container .content .form .action-buttons button:last-child {
  background: none;
  color: red;
  cursor: pointer;
  inline-size: fit-content;
}

.container .content .form .action-buttons button:last-child::after {
  content: '';
  position: absolute;
  width: 86%;
  transform: scaleX(0);
  height: 1px;
  bottom: 8px;
  left: 8px;
  background-color: #7453E8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.container .content .form .action-buttons button:last-child:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container .subscriptionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container .subscriptionContent h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.container .subscriptionContent .cards {
  display: flex;
  flex-wrap: wrap;
}

.container .subscriptionContent .cards .card {
  flex: 1 0 30%;
  /* 30px pour compenser la marge de 15px de chaque côté */
  max-width: calc(30% - 30px);
  margin: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #F5F5F5;
}

.container .subscriptionContent .cards .card .title {
  margin-bottom: 10px;
}

.container .subscriptionContent .cards .card .infoUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.container .subscriptionContent .cards .card .infoUser label {
}

.container .subscriptionContent .cards .card .content {
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Les lignes de texte à montrer */
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}



@media (max-width: 768px) {

  .container .header {
    display: flex;
    justify-content: center;
    border: none;
  }

  .container .header img {
    width: 250px;
    position: relative;
    top: 65px;
  }

  .container .content .back img {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}

@media (max-width: 700px) {
  .container .containerSideBar .closeSideBar {
    width: 70%;
  }

  .container .containerSideBar .menu {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .container .containerSideBar .closeSideBar {
    width: 65%;
  }

  .container .containerSideBar .menu {
    width: 35%;
  }
}

@media (max-width: 400px) {
  .container .containerSideBar .closeSideBar {
    width: 60%;
  }

  .container .containerSideBar .menu {
    width: 40%;
  }
}

