<!-- Affichage spinner chargement -->
<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="timer">
  <p style="color: white"> Chargement en cours... </p>
</ngx-spinner>
<div class="container">

  <div class="containerSideBar" id="containerSideBar">
    <div (click)="hideSideBar()" class="closeSideBar" id="closeSideBar"></div>
    <div class="menu">
      <div class="nav">
        <a routerLink="/session">Articles</a>
        <a routerLink="/themes">Themes</a>
      </div>
      <div class="me">
        <img alt="user logo" height="512" ngSrc="assets/images/utilisateur.png" routerLink="/me" width="512">
      </div>
    </div>
  </div>

  <app-header-session></app-header-session>

  <div class="content">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Profil utilisateur</h2>

      <div class="form-group">
        <input formControlName="name" id="name" type="text">
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" id="email">
      </div>
      <div class="form-group">
        <input formControlName="password" id="password" placeholder="Nouveau mot de passe" type="password">
      </div>
      <div class="form-group">
        <input formControlName="confirmPassword" id="confirmPassword" placeholder="Confirmez votre mot de passe"
               type="password">
      </div>
      <div class="action-buttons">
        <button type="submit" [disabled]="form.invalid">Sauvegarder</button>
        <button (click)="logOut()">Se déconnecter</button>
      </div>
    </form>
  </div>

  <hr style="color: black; font-weight: bold">

  <div class="subscriptionContent">
    <h2>Abonnements</h2>

    <div class="cards">
      <div *ngFor="let subscription of subscriptions" class="card">
        <h2 class="title">{{ subscription.theme.title }}</h2>
        <p class="content">{{ subscription.theme.content }}</p>
        <button (click)="unSubscribe(subscription)">Se désabonner</button>
      </div>
    </div>
  </div>

</div>
