/* You can add global styles to this file, and also import other style files */

/* Voir élément plus grand afin de debogger */
//* {
//    box-shadow: 0 0 0 3px red inset;
//}

html,
body {
    height: 100%;
    // width: 95%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: auto;
}
